/* 全体 */
body {
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  display: block;
}

footer,header,nav,section {
  display: block;
}

.content_sub_ttl {
  color: #c71585;
  font-size: 30px;
}

/* ヘッダー */
nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.header {
  padding: 0 10px;;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_icon {
  width: 200px;
  height: auto;
}

.header_list {
  display: flex;
  justify-content: space-between;
}

.header_list_items {
  list-style: none;
  padding-right: 30px;
}

.header_nav_link {
  text-decoration: none;
  color: #a9a9a9;
}

/* メイン */
/* トップ */
.top_contents {
  width: 100%;
  position: relative;
}

.img_top {
  width: 60%;
}

.top_img {
  text-align: right;
}

.top_text_box {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10% 20%;
}

.top_ttl {
  font-weight: bold;
  font-size: 60px;
  color: #c71585;
  padding-bottom: 75px;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }

.top_text {
  color: #c71585;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.top_span {
  color: #48d1cc;
}

.top_discription {
  color: #a9a9a9;
  font-size: 20px;
  line-height: 30px;
}

/* ニュース */
.content_ttl {
  font-weight: bold;
  font-size: 30px;
  color: #696969;
  text-align: left;
  padding: 20px 0px;
}

.news_contents {
  text-align: center;
  padding: 10% 20%;
}

.news {
  text-align: left;
}

.news_link {
  list-style: none;
  line-height: 50px;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #a9a9a9;
}

.news_nav_link {
  text-decoration: none;
  color: #a9a9a9;
}

.news_link_items {
  border-bottom: 0.5px solid #a9a9a9;
}

.news_span {
  color: #fff;
  border-radius: 30px;
  background: #c71585;
  padding: 3px 20px;
  margin: 0px 10px;
}

/* about */
.content_about_ttl {
  text-align: center;
  margin-bottom: 20px;
}

.content_about {
  background: #f5f5f5;
  padding: 30px 0px;
}

.about_contents {
  padding: 0% 10%;
  display: flex;
  justify-content: space-between;
}

.about {
  text-align: center;
}

.about_img {
  width: 40%;
}

.about_text {
  padding-bottom: 20px;
  color: #a9a9a9;
  line-height: 30px;
  font-size: 20px;
}

.about_contents_box {
  padding-right: 15%;
}

/* service */
.service_contents {
  padding: 10% 10%;
}

.service_contents_inner {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 2fr 2fr;
}

.service_contents_inner1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #c71585;
}

.service_contents_inner2 {
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  background: #db7093;
}

.service_contents_inner3 {
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  background: #dda0dd;
}

.service_img {
  width: 150px;
}

.service_img1 {
  text-align: center;
  padding-top: 50px;
}

.service_img2 {
  text-align: left;
  padding: 20px 10px;
}

.service_img3 {
  text-align: left;
}

.service_text {
  color: #fff;
  padding: 15px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.service_text2 {
  text-align: left;
  color: #fff;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: bold;
}

.service_discription {
  color: #fff;
  line-height: 25px;
}

.service_text_box {
  padding: 15px;
}

/* blog */
.content_blog {
  background: #f5f5f5;
  padding: 10% 10%;
}

.blog_card {
  width: 30%;
  border-radius: 20px;
  background: #fff;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card_img img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card_top {
  position: relative;
}

.blog_small {
  padding: 10px 20px;
  color: #fff;
  background: #c71585;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px 0px 0px 0px;
}

.card_content {
  padding: 15px 25px;
}

.card_ttl {
  font-size: 18px;
  margin-top: 30px;
  font-weight: bold;
  color: #696969;
  line-height: 30px;
}

.card_bottom {
  font-size: 14px;
  text-align: right;
  color: #696969;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.tag {
  display: inline-block;
}

.blog_btn {
  color: #c71585;
  border: 2px solid #c71585;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn {
  text-align: center;
  margin-top: 80px;
}

/* 会社概要 */
table {
  width: 100%;
}

th, td {
  border: 1px solid #a9a9a9;
  padding: 20px;
  color: #696969;
}

th {
  font-weight: bold;
  background-color: #eeeeee;
  text-align: left;
}

.company_content {
  padding: 100px 250px;
}

.company_info_img {
  position: relative;
  width: 100%;
}

.company_info {
  width: 100%;
  display: flex;
}

.info_img {
  width: 100%;
}

.info_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

/* お問い合わせ */
.content_contact {
  margin: 100px 0px;
}

.contact_text {
  color: #696969;
  font-weight: bold;
  font-size: 25px;text-align: center;
}

.contact_line {
  text-align: center;
  font-size: 40px;
  color: #c71585;
  padding: 20px;
  margin: 20px 0xp;
}

.contact_btn {
  position: relative;
  background: linear-gradient(90deg, #df00c2, #d5009e);
  box-shadow: 0px 5px 3px #993399;
  width: 200px;
  display: block;
  padding: 18px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 30px;
  margin: auto;
}

.contact_btn::before {
  content: url(../img/mailicon.svg);
  width: 25px;
  position: absolute;
  top: 14px;
  left: 30px;
  margin: auto;
  z-index: 10;
}

.content_btn:hover::before {
  left: 12px;
}

input[type="submit"]:hover {
  background: #c71585;
}

.footer {
  width: 100%;
}

.footer_inner {
  background: #f5f5f5;
  text-align: center;
  padding: 30px 0px;
}

.footer_text {
  color: #696969;
}